@import '../../styles/colors.scss';

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: $color-darkgrey;
  margin-bottom: 24px;
}
